body {
    margin: 0;
}

main {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    color: #37474f;
}

section {
    width: 100%;
    align-self: center;
    padding-top: 4rem;
}

a {
    text-decoration: none;
    padding: 0.8rem 0.8rem;
    border-radius: 50px;
}

a:focus {
    outline-style: dashed;
    box-shadow: 0px 0px 2px 3px rgba(26, 106, 98, 0.5);
}

p {
    font-family: 'Space Mono', monospace;
}

h2 {
    font-family: 'BioRhyme', serif;
    font-size: 3rem;
    font-weight: 800;
    padding: 3rem 0 0 0;
    text-align: center;

}

/*-----------------------------------------------------------NAV SUPERIOR---------------------------------------------------------------*/
.top-nav {
    height: 6rem;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    z-index: 1;
}

/*----------------------------------------------------LINKS-NAVEGACIÓN-SUPERIOR---------------------------------------------------------*/
.top-nav-ul{
    list-style-type:none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 10rem;
}

.top-nav-li {
    margin: 1rem;
    font-family: 'Space Mono', monospace;
}


.top-nav-a {
    color: #0f1a26;
}

.top-nav-a:hover{
    color:#1a6a62;
    font-weight: 700;
    
}

/*todos los CALL TO ACTION de la página están definidos aquí (excepto una propiedad del botón enviar, en la sección de contacto)*/
.call-to-action {
    background-color: #1a6a62;
    color: white;
    border-style: none;
    font-size: 1rem;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    font-family: 'Space Mono', monospace;
}

.call-to-action:hover{
    background-color: #279186;
    color: #ffffff;
    font-weight: 400;
}

/*-------------------------------------------------------------PRESENTACIÓN-------------------------------------------------------------*/
.presentation {
    display: flex;
    justify-content:center;
    height:650px;
    padding: 4rem 0 0 0;
    width: 100%
}

.presentation-left-bar {
    margin: 4rem 1rem 4rem 5rem;
}

.presentation-text {    
    font-size: 2rem;
    font-weight: 700;
    margin: 8rem 0rem 0rem 0rem
}

.presentation-name {
    font-family: 'BioRhyme', serif;
    font-size: 4rem;
    font-weight: 800;
    color: #1a6a62;
    margin: 0;
}

.presentation-description {
    font-size: 1.2rem;
    margin: 0rem 0 1.5rem 0;
}

/*---------------------------------------------------------IMAGEN PRESENTACIÓN---------------------------------------------------------*/
.presentation-img {
    width: 600px;
    height: 600px;
    margin: 0 1rem;
}

/*---------------------------------------------------------MIS CONOCIMIENTOS------------------------------------------------------------*/
.skills {
    background-color: #bfced91c;
    margin-top: 0;
    padding-bottom: 8rem;
    width: 100%;
}

h2 {
    font-family: 'BioRhyme', serif;
    font-size: 3rem;
    font-weight: 800;
    padding: 3rem 0 0 0;
    text-align: center;

}

.skills-title {    
    margin-bottom: 1rem;
}

.skills-description {
    font-size: 1.2rem;
    margin: 0rem 0 1.5rem 0;
    text-align: center;
    padding-bottom: 2rem;
}

.skills-logos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 62rem;
    margin: auto;
    justify-content: center;
    flex-shrink:inherit
}

.logo-box {
    width: 17rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: 1px solid #c6d4df;    
    transition: 0.5s;
}

.logo-box:hover {  
    border: 1.5px solid #fc363b;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 10px;
}

.logo-text {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    text-align: center;
}

.logo-img {
    width: 100px;
    height: 100px;
}

/*-----------------------------------------------------------------CITA-----------------------------------------------------------------*/
.quote {
    background-color: #1a6a62;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
}

.quote-img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.quote-text {
    font-size: 1.3rem;
    text-align: center;
    margin: 4rem 21rem 5rem 21rem;
    font-family: 'Space Mono', monospace;
}

.name-quote {
    font-style: normal;
    font-family: 'BioRhyme', serif;
    font-size: 2rem;
    font-weight: 800;
}

/*------------------------------------------------------------MIS PROYECTOS-------------------------------------------------------------*/
.projects-links-container {
    display: flex;
    flex-wrap:wrap;
    margin: auto;
    margin-bottom: 2rem;
    width: 80%;
    font-size: 17px;
    justify-content: flex-start;
}


.projects-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0.8rem;
    border: 1px solid #c6d4df;
    border-radius: 20px;
    padding: 5%;
    box-sizing: border-box;
    width: 30%;
    flex-grow: 0;
    color: #0f1a26;
    transition: 0.5s;
    }
    
    
.projects-box:hover {
    border-color: #1a6a62;
    box-shadow:
        1px 1px #1a6a62,
        2px 2px #1a6a62,
        3px 3px #1a6a62;
        transform: translateX(-3px);
}

.projects-text {
    text-align: center;
    margin-top:1rem;
    box-sizing: content-box;
    font-size: 17px;
}

.img-projects {
    width: 90%;
    height: 90%;
    min-width: 0;
}

/*----------------------------------------------------------------CONTACTO--------------------------------------------------------------*/
.contact {
    background-color: #bfced91c;
    display: flex;
    justify-content: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 4em;
    background-color: #ffffff;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 1px solid #c6d4df;
    padding: 1.5rem;
    transition: 0.5s ease-in;
}

.contact-container:hover {
    box-shadow: rgba(252, 54, 59, 0.3) 0px 5px 15px 10px;    
}

/*-----------------------------------------------CONTENEDOR IZQUIERDO - LINKS A RRSS----------------------------------------------------*/
.contact-left-bar {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem 0 0;
}

.contact-title {
    padding: 0;
    text-align: left;
    margin-bottom: 1rem;
}

.contact-text {
    margin-left: 1.2rem;
    font-size: 1.2rem;
}

.rrss-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 2rem;
}

.rrss-link-description {
    width: auto;
    display: flex;
    align-items: baseline;
    justify-content: left;
    margin-left: 1rem;
    font-size: 1.1rem;
}

.a-rrss {
    text-decoration: none;
    border-radius: 50px;
    padding: 0
}

.icon-rrss {
    color: #1a6a62;
    margin: 0;
    padding: 0.8rem;
}

.icon-rrss:hover{
    color: #ffffff;
    background-color: #1a6a62;
    padding: 0.8rem;
    border-radius: 20px;
}

/*------------------------------------------------CONTENEDOR DERECHO - FORMULARIO CONTACTO----------------------------------------------*/
.contact-right-bar {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 1.5rem;
    padding-left: 5%;
}

form {
    width: 90%;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

label {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1.1rem;
    margin: 0 0 0.5rem 0;
}

input, textarea {
    background-color: #bfced91c;
    border-style: none;
    padding: 0.5rem;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-last-name {
    width: 45%;
}

.form-name{
    width: 48%;
}

.form-email, .form-message {
    width: 98%;
}

input::placeholder, textarea::placeholder {
    font-family: 'BioRhyme', serif;
    font-size: 17px;    
}

input:focus, textarea:focus {
    outline-style: dashed;
    box-shadow: 0px 0px 2px 3px rgba(252, 54, 59, 0.2);
}

/*-----------------------------------------------PROPIEDAD ESPECÍFICA DEL BOTÓN ENVIAR--------------------------------------------------*/
.send-button {
    margin-bottom: 1.5rem;
    cursor: pointer;
}

button:focus{
    outline-style: dashed;
    box-shadow: 0px 0px 2px 3px rgba(26, 106, 98, 0.5);
}


/*------------------------------------------------------------PIE DE PÁGINA--------------------------------------------------------------*/
footer {
    background-color: #1a6a62;
    height: 18rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

/*------------------------------------------------------------NAV INFERIOR--------------------------------------------------------------*/
.footer-nav {
    height: fit-content;
    box-sizing: border-box;
}

.footer-ul {
    list-style-type:none;
    display: flex;
    justify-content: center;
    align-items: baseline;
    justify-content: center;
    padding: 0;
}

.footer-il {
    margin: 5rem 1rem 2rem 1rem;
    font-family: 'Space Mono', monospace;
}

/*--------------------------------------------------PROPIEDADES LINKS FOOTER-----------------------------------------------------------*/
.footer-a {
    color: #ffffff;
}

.footer-a:focus{
    outline-style: dashed;
    box-shadow: 0px 0px 2px 3px rgba(253, 253, 253, 0.753);
}

.footer-a:hover{
    font-weight: 700;
}

/*-------------------------------------------------------LINKS RRSS FOOTER--------------------------------------------------------------*/
.footer-rrss {
    text-align: center;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.icon-footer {
    color: #1a6a62;
    background-color: #ffffff;
    padding: 0.8rem;
    border-radius: 20px;
    margin: 0.3rem
}

.icon-footer:hover{
    color: #ffffff;
    background-color: #1a6a62;
    padding: 0.8rem;
    border: solid 1px #ffffff;
    border-radius: 20px;
}

/*--------------------------------------------------------------INFO DEV----------------------------------------------------------------*/
.footer-text {
    text-align: center;
    color: #ffffff;
    margin-top: 2rem;
    text-align: center;
}

/*-----------------------------------------------------------MEDIA QUERIES--------------------------------------------------------------*/
/*-------------------------------------------------------BREAKPOINT 1000px--------------------------------------------------------------*/

@media screen and (max-width:1000px) {

/*------------------------------------------------------------NAV SUPERIOR--------------------------------------------------------------*/
    .top-nav {
        display: none;
    }

/*-----------------------------------------------------------PRESENTACIÓN---------------------------------------------------------------*/
    .presentation {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    
    .presentation-left-bar {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center        
    }
    
    .presentation-right-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px
    }

    /*---------------------------------------------------------IMAGEN PRESENTACIÓN------------------------------------------------------*/
    .presentation-img {
        width: 500px;
        height: 500px;
        margin: 0
    }

    /*--------------------------------------------------------MIS CONOCIMIENTOS---------------------------------------------------------*/
    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
    }
    
      
    .skills-logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0
    }
    
    /*--------------------------------------------------------------CITA---------------------------------------------------------------*/
    .quote-text {
        font-size: 1.3rem;
        text-align: center;
        margin: 4rem 4rem 5rem 4rem;
        font-family: 'Space Mono', monospace;
    }
    
    /*----------------------------------------------------------MIS PROYECTOS-----------------------------------------------------------*/
    .projects-links-container {
        width: 90%;
        margin: auto;
        justify-content:center;
        align-content: center;
    }

    /*-----------------------------------------------------------CONTACTO---------------------------------------------------------------*/
    .contact-container {
        transition: initial;
    }
}


/*-------------------------------------------------------BREAKPOINT 900px---------------------------------------------------------------*/

@media screen and (max-width:900px) {
    /*-----------------------------------------------------MIS CONOCIMIENTOS------------------------------------------------------------*/

    .skills-logos {
        width: 95%;
    }

    /*------------------------------------------------------MIS PROYECTOS---------------------------------------------------------------*/

    .projects-links-container {
        width: 100%;
    }

    .projects-box {
        flex-basis: 45%;
    }

    /*-----------------------------------------------------------CONTACTO---------------------------------------------------------------*/

    .contact {
        background-color: #ffffff;
    }

    .contact-container {
        flex-direction: column;
        border: none;
        padding: 0;
        transition: initial;
    }
    
    .contact-left-bar {
        width: 100%;
        padding-left: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .rrss-container {
        margin: 0;
        justify-content: left;
        flex-wrap: wrap;
        align-items: space-around;
        flex-direction: row;
        box-sizing: border-box;
    }

    .rrss-link-description {
        align-items: left;
        width: 45%;
    }
    .rrss-link-description p{
        padding: 0 10px 0 5px;
        margin: 0;
    }

    .contact-right-bar {
        width: 100%;
        padding: 0;
        align-items: center;
    }

   .contact-form {
        margin:0;
        width: 100%;
        align-items: center;
    }

    .contact-title {
        width: fit-content;
    }

}

/*-------------------------------------------------------BREAKPOINT 700px---------------------------------------------------------------*/

@media screen and (max-width:700px) {


    section {
        width: 100%;
    }

    h2 {
        padding: 0;
    }

    .contact-container {
        margin-top: 0;
    }

    .footer-ul {
        display: none;
    }

    footer {
        padding-top: 4rem;
    }
    
}

/*-------------------------------------------------------BREAKPOINT 600px---------------------------------------------------------------*/
@media screen and (max-width:600px) {
.rrss-container {
    display: flex;
    flex-direction: column;
}

}

/*-------------------------------------------------------BREAKPOINT 550px---------------------------------------------------------------*/
@media screen and (max-width:550px) {

.presentation-name {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.presentation-img {
    width: 100%;
}

.projects-links-container {
    width: 100%;
}

.projects-box {
    flex-basis: 80%;
}

}

@media screen and (max-width:350px) {
   
    h2 {
        font-size: 1.8rem;
    }

    .rrss-link-description p{
        display: none;
    }
    
    .rrss-container {
        flex-direction: row;
        justify-content: center;
    }

    .rrss-link-description {
        margin: 0;
    }

    
}


 /*TO-DO: márgenes, prox breakpoint 600: acomodar rrss porque rebalsan los divs
 550px: achicar letra de h1 y 2, mis proyectos pasa de dos columnas a una*/
